.cart-form-ttl {
    font-size: 22px;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 30px;
}

.cart-form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.cart-form-input {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--line);
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.cart-form-submit {
    border: 1px solid var(--main);
    background: var(--main);
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}

@media screen and (min-width: 993px) {
    .cart-form-submit:hover {
        background: #ffffff;
        color:  var(--main);
    }
}

@media screen and (max-width: 768px) {
    .cart-form-input {
        padding: 10px;
    }
    .cart-form-submit {
        font-weight: 700;
    }
}

@media screen and (max-width: 576px) {
    .cart-form-ttl {
        margin-bottom: 6px;
        font-size: 18px;
    }
    .cart-form-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 10px;
    }
    .cart-form-input {
        padding: 10px;
    }
    .cart-form-submit {
        padding: 12px;
        font-weight: 700;
    }
}