.product-page {
    padding: 40px 0;
}

.product-page-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.product-name {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
    color: var(--main);
}

.product-sku {
    font-size: 20px;
    font-weight: 500;
    color: #717171;
    margin-bottom: 16px;
}

.product-price {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 16px;
}

.product-price span {
    font-size: 12px;
    color: #6f6f6f;
}

.product-page .cart-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.product-page .cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.6px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 24px;
}

.product-page .cart-btn-add {
    background-color: var(--main);
    margin-right: 10px;
}

.product-page .cart-btn-order {
    background-color: var(--orange);
}

.product-params-ttl {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
}

.product-params-data {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
}

.product-desc {
    line-height: 1.25;
}

.product-desc-ttl {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
}

.product-desc-text {
    font-size: 18px;
    font-weight: 500;
}

.product-made {
    font-size: 18px;
}

.product-made-brand {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.product-made-img {
    margin-right: 6px;
    border: 1px solid #dadcde;
    border-radius: 4px;
}

.product-benefits {
    padding-top: 12px;
}

.product-benefits-ttl {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.product-benefits-row {
    position: relative;
    padding-left: 12px;
    margin-bottom: 6px;
}

.product-benefits-row::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 4px;
    height: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #000000;
}

.product-garanty {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.product-garanty-img {
    width: 40px;
    height: 40px;
    margin-right: 6px;
}


@media screen and (max-width: 991px) {
    .product-page-content {
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .product-desc {
        grid-column: span 1;
    }
}

@media screen and (max-width: 575px) {
    .product-name {
        font-size: 22px;
        font-weight: 700;
    }

}