.catalog-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    border-left: 1px solid var(--line);
    border-right: 1px solid var(--line);
}