:root {
    --orange: #F18223;
    --line: rgba(0, 85, 141, 0.15);
    --main: #00558D;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(./assets/fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/OpenSans-Semibold.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./assets/fonts/OpenSans-Light.ttf) format("truetype");
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}



body,
#root {
    position: relative;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
}

img,
svg {
    display: block;
    max-width: 100%;
}

.d-none {
    display: none !important;
}